@keyframes AvaIn {
    0% {
        transform:scale(1); 
    }
    100% {
        transform:scale(1.02); 
    }    
}
@keyframes AvaOut {
    100% {
        transform:scale(1); 
    }
    0% {
        transform:scale(1.02); 
    }    
}