
.form {
    display: inline-block;
    transform:translate(2vw, 2vw);
}

header {
    position: relative;
    left: 5%;
    top: 50px;
    width: 60vw;
    height: 20vw;

    border-radius: 20vw;
    border: 1px solid rgba(var(--white-col));
    box-shadow: inset 2px 2px 10px blue, inset -2px -2px 10px red;

    backdrop-filter: blur(3px);
}

.avatar {
    animation: AvaOut 1s ease forwards;

    border-radius: 100%;
    width: 20vw;
    box-shadow: 2px 2px 10px rgba(0, 0, 255, 0.584), -2px -2px 10px rgba(255, 0, 0, 0.727);
}
.avatar:hover {
    animation: AvaIn 0.2s ease forwards;
}

.WELIOSA {
    margin-top: 2vw;
    font-size: 5vw;
}

.SmallText {
    font-size: 1.2vw;
}

.ILLUSTRATOR {
    font-size: 2.5vw;
    text-shadow: 0px 0px 5px var(--text-shadow);
}

