.cards {
    display: flex;
    gap: 3vw;
    justify-content: center;

    position: relative;
    transform: translate(0vw, 20vw);
}

.card-1, .card-2, .card-3 {
    width: 30vw;
    text-align: center;
}

.card-1 {
    background-color: blue;
    box-shadow: inset -3vw 0vw 5vw rgba(186, 11, 255, 0.65);

}
.card-2 {
    background-color: rgb(208, 194, 121);
    box-shadow: inset -3vw 0vw 5vw rgba(255, 213, 0, 0.65);
}
.card-3 {
    background-color: rgb(38, 171, 254);
    box-shadow: inset -3vw 0vw 5vw rgba(89, 244, 255, 0.65);
}

.card-cap {
    font-size: 3vw;
}